<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/css :: headfragment"></meta>
    <!--<meta th:replace="fragments/fancybox :: fancyboxcss"></meta>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-tagsinput.css}"/>
    <style>
        .bootstrap-tagsinput{
            width:100%;
        }
    </style>
</head>
<body>
<div th:replace="fragments/banner :: div"></div>
<!--<menu th:replace="fragments/menu :: menu(1)"></menu>-->
<div th:replace="fragments/nav :: user(1)"></div>
<div class="container">
<form class="add-project-form" method="post" th:object="${form}">
                <div class="row main" style="padding-left: 0;">
                    <div class="col-xs-12">
                        <div class="form-horizontal">
                            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">项目名称</label>
                                <div class="col-sm-7 col-md-8 col-lg-9 required">
                                    <input type="text" class="form-control" placeholder="请填写生产建设项目全称"
                                           name="name" th:field="*{name}"
                                           required="required" autocomplete="off"/>
                                    <span th:if="${#fields.hasErrors('name')}" class="help-block" th:errors="*{name}"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">项目编号</label>
                                <div class="col-sm-7 col-md-8 col-lg-9">
                                    <input type="text" class="form-control" placeholder="请填写发改委项目统一编号"
                                           name="code" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">是否涉密</label>
                                <div class="col-sm-7 col-md-8 col-lg-9">
                                    <label class="radio-inline">
                                        <input id="exitsystem" type="radio" name="isSecure"
                                               value="1"/> 是
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="isSecure"
                                               value="0" checked="checked"/> 否
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">所属行业</label>
                                <div class="col-sm-7 col-md-8 col-lg-9 required">
                                    <select name="industry" class="form-control" required="required">
                                        <option value="" disabled="disabled" selected="selected">请选择项目所属行业</option>
                                        <option value="公路行业">公路行业</option>
                                        <option value="铁路行业">铁路行业</option>
                                        <option value="露天矿工程（包含露天金属矿、非金属矿和煤矿）">露天矿工程（包含露天金属矿、非金属矿和煤矿）</option>
                                        <option value="林浆纸一体化工程">林浆纸一体化工程</option>
                                        <option value="机场工程">机场工程</option>
                                        <option value="核电站工程">核电站工程</option>
                                        <option value="水利枢纽工程">水利枢纽工程</option>
                                        <option value="水电站工程">水电站工程</option>
                                        <option value="工业园区项目">工业园区项目</option>
                                        <option value="涉水交通行业">涉水交通行业</option>
                                        <option value="风电行业">风电行业</option>
                                        <option value="引调水工程">引调水工程</option>
                                        <option value="井采矿工程">井采矿工程</option>
                                        <option value="油气开采工程">油气开采工程</option>
                                        <option value="油气管道工程">油气管道工程</option>
                                        <option value="轨道交通工程">轨道交通工程</option>
                                        <option value="农林开发工程">农林开发工程</option>
                                        <option value="火电行业">火电行业</option>
                                        <option value="灌区工程">灌区工程</option>
                                        <option value="提防工程">提防工程</option>
                                        <option value="蓄滞洪区工程">蓄滞洪区工程</option>
                                        <option value="其他小型水利工程">其他小型水利工程</option>
                                        <option value="油气储存与加工工程">油气储存与加工工程</option>
                                        <option value="管网工程">管网工程</option>
                                        <option value="加工制造行业">加工制造行业</option>
                                        <option value="输变电工程">输变电工程</option>
                                        <option value="房地产工程">房地产工程</option>
                                        <option value="其他类城建工程">其他类城建工程</option>
                                        <option value="社会事业">社会事业</option>
                                        <option value="信息产业">信息产业</option>
                                        <option value="其他行业">其他行业</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">涉及区县</label>
                                <div class="col-sm-7 col-md-8 col-lg-9">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <select class="form-control">
                                                <option value="" disabled="disabled" selected="selected">西藏自治区</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="city" class="form-control">
                                                <option value="" disabled="disabled" selected="selected">市</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 required">
                                            <select id="county" class="form-control selectpicker" multiple="multiple"
                                                    title="县" data-selected-text-format="static" required="required">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label"></label>
                                <div class="col-sm-7 col-md-8 col-lg-9">
                                <input id="countyArea" class="form-control" readonly="readonly" rows="4" name="county" value="">

                                </input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">自治区级水土流失重点防治区</label>
                                <div class="col-sm-7 col-md-8 col-lg-9">
                                    <input id="fzq" name="fzq" type="text" class="form-control" placeholder="项目所在地所属自治区级两区划分的名称" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">项目占地面积（公顷）</label>
                                <div class="col-sm-7 col-md-8 col-lg-9 required">
                                    <input name="area" type="number" step="0.01" min="0.01" class="form-control" placeholder="项目占地面积，保留两位小数"
                                           required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">项目土石方总量（万立方米）</label>
                                <div class="col-sm-7 col-md-8 col-lg-9 required">
                                    <input name="sum" type="number" step="0.01" min="0.01" class="form-control" placeholder="项目土石方总量，保留两位小数"
                                           required="required"/>
                                </div>
                            </div>
                            <!--<div class="clearfix">-->
                            <!--<button class="btn btn-primary pull-right " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
                                <!--西藏自治区生产建设项目水土保持管理分类管理级别-->
                            <!--</button>-->
                            <!--</div>-->
                            <!--<div class="collapse" id="collapseExample">-->
                                <!--<div class="well">-->
                                    <!--<a class="fancyboximage" data-fancybox="" th:href="@{/images/help1.jpg}" ><img th:src="@{/images/help1.jpg}" style="width: 100%" /></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div style="margin: 0 auto 20px;display: table;" class="center">
                    <button type="submit" class="btn btn-default mybtn compact">确认提交</button>
                    <button type="reset" class="btn btn-default mybtn compact">清空重置</button>
                </div>
            </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/logout_modal :: modal"></div>
<div class="modal" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 386px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">涉密确认</h4>
            </div>
            <div class="modal-body">
                <p style="text-indent: 2em;">本系统不支持涉密项目的分类管理录入或查询。</p>
                <p style="text-indent: 2em;margin: 30px 0;">涉密项目的分类管理请咨询西藏自治区水土保持局，联系方式：0891-6364780（工作时间）。</p>
                <p style="text-indent: 2em;">欢迎再次使用！</p>
            </div>
            <div class="modal-footer">
                <a th:href="@{/account/logout}" class="btn btn-primary">退出</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/js :: script"></div>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/bootstrap-tagsinput.js}"></script>
<script th:src="@{/js/add.js}"></script>
<!--<div th:replace="fragments/fancybox :: fancyboxjs"></div>-->
<script>
    $(function () {
        $('#exitsystem').click(function () {
            console.log('clicked')
            $('#exitModal').modal({
                backdrop: 'static'
            })
        })
    })
</script>
</body>
</html>