<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/css :: head"></meta>
</head>
<body>
<div th:replace="fragments/banner :: div"></div>
<!--<menu th:replace="fragments/menu :: menu(4)"></menu>-->
<div th:replace="fragments/nav :: user(4)"></div>
<div class="container">
	<div class="row main">
			<div class="col-xs-12">
				<ul class="documents-list">
					<li th:each="file : ${files}">
						<span th:text="'《 ' + ${file.name} + ' 》'"></span>
						<a class="download" th:href="@{/files/} + ${file.filename}" th:attr="download=${file.name}">下载</a>
						<a class="preview" th:href="@{/files/} + ${file.filename}">查看</a>
					</li>
				</ul>
			</div>
		</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/logout_modal :: modal"></div>

<div th:replace="fragments/js :: script"></div>
</body>
</html>