<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/css :: headfragment"></meta>
	<meta th:replace="fragments/fancybox :: fancyboxcss"></meta>
	<link rel="stylesheet" th:href="@{/css/xz-table.css}" />
	<style>
		.panel-title .collapsed .glyphicon-menu-down{
			padding: 0 10px;
			/*display: inline-block;*/
			transform: rotate(0);
			transition:all .2s ease-in-out;
		}
		/*.panel-title .collapsed .glyphicon-menu-up{*/
			/*display: none;*/
		/*}*/
		.panel-title  .glyphicon-menu-down{
			padding: 0 10px;
			transform: rotate(-180deg);
			transition:all .2s ease-in-out;
		}
		/*.panel-title  .glyphicon-menu-up{*/
			/*display: inline-block;*/
		/*}*/
	</style>
</head>
<body>
	<div th:replace="fragments/banner :: div"></div>
	<!--<menu th:replace="fragments/menu :: menu(3)"></menu>-->
	<div th:replace="fragments/nav :: user(3)"></div>
	<div class="container">
		<div class="row main help-info">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4 control-label">管理对象：</div>
                    <div class="col-sm-8">
                        <p class="form-control-static"><b>生产建设项目水土保持工程</b></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">水土保持管理类别：</div>
                    <div class="col-sm-8">
                        <p class="form-control-static"><b>A类、B类、C类</b></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">水土保持管理类别取决于：</div>
                    <div class="col-sm-8">
                        <p class="form-control-static"><b>水土流失影响程度、项目占地和土方挖填总量不同管理类别对应不同的水土保持管理方式</b></p>
                    </div>
                </div>
            </div>
		</div>
		<div class="row main help-page">
			<!--<div class="col-xs-12">-->
				<!--<div class="center-block help-image" style="position: relative;">-->
					<!--<a class="download" th:href="@{/files/西藏自治区区级生产建设项目水土保持分类管理表.pdf}" download="西藏自治区区级生产建设项目水土保持分类管理表"></a>-->
                    <!--<a class="fancyboximage" data-fancybox="" th:href="@{/images/help2.png}" ><img th:src="@{/images/help2.png}" class="center-block" /></a>-->
				<!--</div>-->
				<!--<div class="center-block help-image" style="position: relative;">-->
					<!--<a class="download" th:href="@{/files/西藏自治区区级生产建设项目水土保持分类管理表.pdf}" download="西藏自治区区级生产建设项目水土保持分类管理表" style="top: 30px;"></a>-->
					<!--<a class="fancyboximage" data-fancybox="" th:href="@{/images/help1.jpg}" ><img th:src="@{/images/help1.jpg}" /></a>-->
				<!--</div>-->
			<!--</div>-->

            <h3 class="text-center">西藏自治区水土保持管理机构名录<a class="export-ins" th:href="@{/export/mechan}"></a></h3>
			<div class="col-xs-12 help-image table-xz-container" style="position: relative;">
				<table class="table table-bordered table-hover table-xz">
					<thead>
					<tr>
						<th>机构简称</th>
						<!--<th>负责人</th>-->
						<!--<th>负责人联系方式</th>-->
						<th>联系人</th>
						<th>联系方式</th>
						<!--<th>机构地址</th>-->
						<!--<th>上级机关</th>-->
						<th>邮箱</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="item : ${list}">
						<td th:replace="fragments/td :: nowrap(${item.abbr},25)"></td>
						<!--<td th:replace="fragments/td :: nowrap(${item.leader},6)"></td>-->
						<!--<td th:replace="fragments/td :: nowrap(${item.leadercontact},28)"></td>-->
						<td th:replace="fragments/td :: nowrap(${item.contact},6)"></td>
						<td th:replace="fragments/td :: nowrap(${item.contactcontact},28)"></td>
						<td th:replace="fragments/td :: nowrap(${item.email},28)"></td>
						<!--<td th:replace="fragments/td :: nowrap(${item.address},15)"></td>-->
						<!--<td th:replace="fragments/td :: nowrap(${item.supervisor},12)"></td>-->
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 row">
				<div class="col-xs-6" style="line-height: 80px;">
					<div class="pull-right">
						<span>共<span th:text="${total}"></span>条记录
						</span> <span>共<span th:text="${pagecount}"></span>页
						</span> <span>当前第<span th:text="${pageno}"></span>页
						</span>
					</div>
				</div>
				<div class="pull-left col-xs-6">
					<nav aria-label="Page navigation" class=" ">
						<ul class="pagination">
							<li th:classappend="${pageno==1}? disabled"><a href="?pageno=1" aria-label="Previous"> <span
									aria-hidden="true">上一页</span>
							</a></li>
							<th:block th:each="i: ${#numbers.sequence(1, pagecount)}">
								<li th:classappend="${i==pageno}? active"><a
										th:href="'?pageno=' + ${i}" th:text="${i}"></a></li>
							</th:block>
							<li th:classappend="${pageno==pagecount}? disabled"><a th:href="'?pageno=' + ${pagecount}" aria-label="Next"> <span
									aria-hidden="true">下一页</span>
							</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="row main">
			<h3>系统使用说明</h3>
			<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<span class="glyphicon glyphicon-menu-down"></span>有关用户注册

							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<h3>点击首页用户登录下立即注册按钮，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help11.png}" />
							<h3>弹出注册框，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help12.png}" />
							<h3>输入信息后，点击注册按钮，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help13.png}" />
							<h3>点击注册按钮后，提示用户注册成功；如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help14.png}" />
							<h3>注：验证码根据填写的手机号进行发送。</h3>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading4">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
								<span class="glyphicon glyphicon-menu-down"></span>忘记密码
							</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<h3>点击首页用户登录下忘记密码按钮，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help21.png}" />
							<h3>弹出找回密码提示框，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help22.png}" />
							<h3>输入新密码后，点击确认按钮，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help23.png}" />
							<h3>点击确认按钮后，提示密码设置成功，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help24.png}" />
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="glyphicon glyphicon-menu-down"></span>项目信息、分类结果
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<h3>点击项目信息，跳转到信息详情页面，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help31.png}" />
							<h3>输入项目名称、项目编号，选择是否涉案，选择所属行业，选择涉及区县（选择涉及市、涉及县），输入项目占地面积及项目土石方总量；点击清空重置按钮，项目信息均清空；点击确认提交，跳转到分类结果页面，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help32.png}" />
							<h3>点击保存按钮，弹出提示框，选择路径后，点击保存可保存成功。</h3>
							<h3>点击打印按钮，跳转到打印机页面，选择设置后可进行打印</h3>
							<h3>点击返回按钮，返回到项目信息页面</h3>
							<h3>注：所属行业和涉及区县均为下拉选择，涉及区县选择错误后，点击x号可删除重新选择，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help33.png}" />
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="glyphicon glyphicon-menu-down"></span>管理与查询
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<h3>选择涉及区县、所属行业、水土保持分类、查询日期初始截止时间、项目占地面积范围、项目土石方总量范围；点击重置按钮，查询信息均清空；点击查询按钮，如下图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help41.png}" />
							<h3>查询方式可单一查询或组合查询，组合查询时符合项目信息条件才可查询成功。</h3>
							<h3>数据查询完成后，可对项目名称进行查看，点击查看按钮弹出用户查询历史信息项目详情页面；点击删除按钮可对该项目进行删除。</h3>
							<h3>点击下载按钮可对查询结果进行下载，点击下载按钮后，如图所示：</h3>
							<img style="width: 100%" th:src="@{/images/help42.png}" />
							<h3>选择指定路径后，点击保存下载成功。</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<div th:replace="fragments/logout_modal :: modal"></div>

	<div th:replace="fragments/js :: script"></div>
	<div th:replace="fragments/fancybox :: fancyboxjs"></div>
	<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
	</script>

</body>
</html>