<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="fragments/css :: head"></meta>
<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-tagsinput.css}"/>
	<link rel="stylesheet" th:href="@{/css/xz-table.css}" />
	<style>
		.alert{
			margin-top: 30px;
			margin-bottom: -30px;
		}
        .bootstrap-tagsinput{
            width:100%;
        }
	</style>
</head>
<body>
	<div th:replace="fragments/banner :: div"></div>
	<!--<menu th:replace="fragments/menu :: menu(5)"></menu>-->
	<div th:replace="fragments/nav :: user(5)"></div>
	<div class="container hidden-print">
		<div class="row main" style="padding-left: 0;">
			<form class="form-horizontal" method="post" th:object="${form}">
				<div class="form-group">
					<label class="col-sm-2 control-label">涉及区县</label>
					<div class="col-sm-3">
						<select id="county" name="county"
							class="form-control selectpicker" multiple="multiple"
							title="涉及区县"
                                data-selected-text-format="count > 0"
                                data-count-selected-text="{0}个已选中"
                                data-actions-box="true"
                                data-deselect-all-text="全部取消"
                                data-select-all-text="全部选中"
                                data-container="body">
                            <optgroup label="日喀则市">
                                <option value="仲巴县">仲巴县</option>
                                <option value="康马县">康马县</option>
                                <option value="亚东县">亚东县</option>
                                <option value="吉隆县">吉隆县</option>
                                <option value="岗巴县">岗巴县</option>
                                <option value="桑珠孜区">桑珠孜区</option>
                                <option value="南木林县">南木林县</option>
                                <option value="江孜县">江孜县</option>
                                <option value="萨迦县">萨迦县</option>
                                <option value="拉孜县">拉孜县</option>
                                <option value="白朗县">白朗县</option>
                                <option value="仁布县">仁布县</option>
                                <option value="昂仁县">昂仁县</option>
                                <option value="谢通门县">谢通门县</option>
                                <option value="萨嘎县">萨嘎县</option>
                            </optgroup>
                            <optgroup label="昌都市">
                                <option value="江达县">江达县</option>
                                <option value="类乌齐县">类乌齐县</option>
                                <option value="丁青县">丁青县</option>
                                <option value="察雅县">察雅县</option>
                                <option value="左贡县">左贡县</option>
                                <option value="芒康县">芒康县</option>
                                <option value="洛隆县">洛隆县</option>
                                <option value="边坝县">边坝县</option>
                                <option value="卡若区">卡若区</option>
                                <option value="贡觉县">贡觉县</option>
                                <option value="八宿县">八宿县</option>
                            </optgroup>
                            <optgroup label="林芝市">
                                <option value="巴宜区">巴宜区</option>
                                <option value="米林县">米林县</option>
                                <option value="墨脱县">墨脱县</option>
                                <option value="波密县">波密县</option>
                                <option value="工布江达县">工布江达县</option>
                                <option value="察隅县">察隅县</option>
                                <option value="郎县">郎县</option>
                            </optgroup>
                            <optgroup label="山南市">
                                <option value="措美县">措美县</option>
                                <option value="洛扎县">洛扎县</option>
                                <option value="浪卡子县">浪卡子县</option>
                                <option value="隆子县">隆子县</option>
                                <option value="错那县">错那县</option>
                                <option value="贡嘎县">贡嘎县</option>
                                <option value="乃东县">乃东县</option>
                                <option value="扎囊县">扎囊县</option>
                                <option value="桑日县">桑日县</option>
                                <option value="琼结县">琼结县</option>
                                <option value="曲松县">曲松县</option>
                                <option value="加查县">加查县</option>
                            </optgroup>
                            <optgroup label="拉萨市">
                                <option value="城关区">城关区</option>
                                <option value="林周县">林周县</option>
                                <option value="尼木县">尼木县</option>
                                <option value="曲水县">曲水县</option>
                                <option value="堆龙德庆县">堆龙德庆县</option>
                                <option value="达孜县">达孜县</option>
                                <option value="墨竹工卡县">墨竹工卡县</option>
                            </optgroup>
                            <optgroup label="那曲地区">
                                <option value="那曲县">那曲县</option>
                                <option value="聂荣县">聂荣县</option>
                                <option value="巴青县">巴青县</option>
                                <option value="安多县">安多县</option>
                                <option value="班戈县">班戈县</option>
                                <option value="当雄县">当雄县</option>
                                <option value="比如县索县">比如县索县</option>
                                <option value="嘉黎县">嘉黎县</option>
                            </optgroup>
                            <optgroup label="阿里地区">
                                <option value="日土县">日土县</option>
                                <option value="革吉县">革吉县</option>
                                <option value="措勤县">措勤县</option>
                                <option value="噶尔县">噶尔县</option>
                                <option value="普兰县">普兰县</option>
                                <option value="札达县">札达县</option>
                            </optgroup>
						</select>
					</div>
					<div class="col-sm-2">
						<input name="dateFrom" th:field="*{dateFrom}" type="text"
							class="form-control datepicker" readonly="readonly"
							placeholder="" />
					</div>
					<label class="col-sm-3 control-label text-center">&le; 查询日期 &le;</label>
					<div class="col-sm-2">
						<input name="dateTo" th:field="*{dateTo}" type="text"
							class="form-control datepicker" readonly="readonly"
							placeholder="" />
					</div>
				</div>
                <div class="form-group">
                    <!--<label class="col-sm-2 control-label">涉及区县</label>-->
                    <div class="col-sm-10 col-sm-offset-2">
                        <input id="countyTag" class="tagsinput"/>
                    </div>
                </div>
				<div class="form-group">
					<label class="col-sm-2 control-label">所属行业</label>
					<div class="col-sm-3">
						<select id="industry" name="industry"
							class="form-control selectpicker" multiple="multiple"
							title="所属行业"
                                data-selected-text-format="count > 0"
                                data-count-selected-text="{0}个已选中"
                                data-actions-box="true"
                                data-deselect-all-text="全部取消"
                                data-select-all-text="全部选中"
                                data-container="body">
							<option value="公路行业">公路行业</option>
							<option value="铁路行业">铁路行业</option>
							<option value="露天矿工程（包含露天金属矿、非金属矿和煤矿）">露天矿工程（包含露天金属矿、非金属矿和煤矿）</option>
							<option value="林浆纸一体化工程">林浆纸一体化工程</option>
							<option value="机场工程">机场工程</option>
							<option value="核电站工程">核电站工程</option>
							<option value="水利枢纽工程">水利枢纽工程</option>
							<option value="水电站工程">水电站工程</option>
							<option value="工业园区项目">工业园区项目</option>
							<option value="涉水交通行业">涉水交通行业</option>
							<option value="风电行业">风电行业</option>
							<option value="引调水工程">引调水工程</option>
							<option value="井采矿工程">井采矿工程</option>
							<option value="油气开采工程">油气开采工程</option>
							<option value="油气管道工程">油气管道工程</option>
							<option value="轨道交通工程">轨道交通工程</option>
							<option value="农林开发工程">农林开发工程</option>
							<option value="火电行业">火电行业</option>
							<option value="灌区工程">灌区工程</option>
							<option value="提防工程">提防工程</option>
							<option value="蓄滞洪区工程">蓄滞洪区工程</option>
							<option value="其他小型水利工程">其他小型水利工程</option>
							<option value="油气储存与加工工程">油气储存与加工工程</option>
							<option value="管网工程">管网工程</option>
							<option value="加工制造行业">加工制造行业</option>
							<option value="输变电工程">输变电工程</option>
							<option value="房地产工程">房地产工程</option>
							<option value="其他类城建工程">其他类城建工程</option>
							<option value="社会事业">社会事业</option>
							<option value="信息产业">信息产业</option>
							<option value="其他行业">其他行业</option>
						</select>
					</div>
					<div class="col-sm-2">
						<input name="areaFrom" th:field="*{areaFrom}" class="form-control"
							type="number" step="0.01" min="0.01" />
					</div>
					<label class="col-sm-3 control-label text-center">&le;
						项目占地面积（公顷） &lt;</label>
					<div class="col-sm-2">
						<input name="areaTo" th:field="*{areaTo}" class="form-control"
							type="number" step="0.01" min="0.01" />
					</div>
				</div>
                <div class="form-group">
                    <!--<label class="col-sm-2 control-label">所属行业</label>-->
                    <div class="col-sm-10 col-sm-offset-2">
                        <input id="industryTag" class="tagsinput" />
                    </div>
                </div>
				<div class="form-group">
					<label class="col-sm-2 control-label">水土保持分类</label>
					<div class="col-sm-3">
						<select id="dengji" name="dengji"
							class="form-control selectpicker" multiple="multiple"
							title="水土保持分类"
                                data-selected-text-format="count > 0"
                                data-count-selected-text="{0}个已选中"
                                data-actions-box="true"
                                data-deselect-all-text="全部取消"
                                data-select-all-text="全部选中"
                                data-container="body">
							<option value="A类">A类</option>
							<option value="B类">B类</option>
							<option value="C类">C类</option>
						</select>
					</div>
					<div class="col-sm-2">
						<input name="sumFrom" th:field="*{sumFrom}" class="form-control"
							type="number" step="0.01" min="0.01" />
					</div>
					<label class="col-sm-3 control-label text-center">&le;
						项目土石方总量（万立方米） &lt;</label>
					<div class="col-sm-2">
						<input name="sumTo" th:field="*{sumTo}" class="form-control"
							type="number" step="0.01" min="0.01" />
					</div>
				</div>
                <div class="form-group">
                    <!--<label class="col-sm-2 control-label">水土保持分类</label>-->
                    <div class="col-sm-10 col-sm-offset-2">
                        <input id="dengjiTag" class="tagsinput" />
                    </div>
                </div>
				<div style="margin: auto; display: table;" class="center">
					<input id="pageno" type="hidden" name="pageno" value="1" />
					<button id="search" type="submit" class="btn btn-default mybtn">查询</button>
					<button id="reset" type="reset" class="btn btn-default mybtn">重置</button>
					<!--<a th:href="@{/export/searchproject}" class="btn btn-default mybtn">下载</a>-->
					<button id="export" type="submit" class="btn btn-default mybtn">下载</button>
				</div>
			</form>
			<div th:replace="fragments/alert :: alert (type='success', message=${message})" style="margin-bottom: -30px;margin-top: 30px;"></div>
		</div>
		<div th:if="${showresult}">
			<div class="row main text-center" th:if="${total} == 0">
				无符合条件数据。
			</div>
			<div class="row main" th:if="${total} > 0">
				<div class="col-xs-12 table-xz-container">
					<table class="table table-bordered table-hover table-xz">
						<thead>
							<tr>
								<th>项目名称</th>
								<th>用户名</th>
								<th>手机号</th>
								<th>涉及区县</th>
								<th>查询日期</th>
								<th>水土保持分类</th>
								<th width="100"></th>
								<!--<th>上级机关</th>-->
								<!--<th></th>-->
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${list}">
								<td th:replace="fragments/td :: nowrap(${item.name},20)"></td>
								<td th:replace="fragments/td :: nowrap(${item.username},6)"></td>
								<td th:replace="fragments/td :: nowrap(${item.phone},15)"></td>
								<td th:replace="fragments/td :: nowrap(${item.county},20)"></td>
								<td th:replace="fragments/td :: nowrap(${#calendars.format(item.datecreated,'yyyy-M-d')},28)"></td>
								<td th:replace="fragments/td :: nowrap(${item.dengji},6)"></td>
								<td class="text-center">
									<a data-toggle="modal" th:attr="data-target='#' + ${item.id}">查看</a>
									<a class="delete text-danger" th:attr="data-id=${item.id}">删除</a>
								</td>
								<!--<td th:text="${item.supervisor}"></td>-->
								<!--<td th:text="${item.abbr}"></td>-->
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-xs-12 row">
					<div class="col-xs-6" style="line-height: 80px;">
						<div class="pull-right">
							<span>共<span th:text="${total}"></span>条记录
							</span> <span>共<span th:text="${pagecount}"></span>页
							</span> <span>当前第<span th:text="${pageno}"></span>页
							</span>
						</div>
					</div>
					<div class="pull-left col-xs-6">
						<nav aria-label="Page navigation" class=" ">
							<ul class="pagination">
								<li th:classappend="${pageno==1}? disabled">
									<a th:if="${pageno>1}"
									th:onclick="'showPage(' + ${pageno - 1} + ');'"
									aria-label="Previous"> <span aria-hidden="true">上一页</span>
									</a>
									<a th:if="${pageno==1}" aria-label="Previous"> <span aria-hidden="true">上一页</span>
									</a>
								</li>
								<th:block th:each="i: ${#numbers.sequence(1, pagecount)}">
									<li th:classappend="${i==pageno}? active"><a
										th:onclick="'showPage(' + ${i} + ');'"
										th:text="${i}"></a></li>
								</th:block>
								<li th:classappend="${pageno==pagecount}? disabled">
									<a th:if="${pagecount>pageno}"
									th:onclick="'showPage(' + ${pageno + 1} + ');'"
									aria-label="Next"> <span aria-hidden="true">下一页</span>
									</a>
									<a th:if="${pageno==pagecount}" aria-label="Next"> <span aria-hidden="true">下一页</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	
	<div class="modal" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">确定删除吗？</h4>
				</div>
				<div class="modal-footer text-center">
					<form class="form-inline delete-form" method="POST"
						th:action="@{/project/delete}">
						<input id="deleteid" type="hidden" name="id" />
						<button type="submit" class="btn btn-primary btn-danger">确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<th:block th:each="item : ${list}" th:id="${item.id}">
		<div th:replace="fragments/project_detail_modal :: detail(${item})"></div>
	</th:block>

	<div th:replace="fragments/logout_modal :: modal"></div>

	<div th:replace="fragments/js :: script"></div>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script th:src="@{/js/bootstrap-tagsinput.js}"></script>
    <script th:src="@{/js/dom-to-image.min.js}"></script>
    <script th:src="@{/js/sava-project.js}"></script>
	<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
	</script>
	<script th:inline="javascript">
        var searchAction = /*[[@{/project/manage}]]*/ null;
        var exportAction = /*[[@{/export/searchproject}]]*/ null;
        console.log(searchAction);
		// pagination
		function showPage(pageno) {
            $('form')[0].action = searchAction;
            $('#pageno').val(pageno);
            $('form')[0].submit();
        }

        $(function () {
			$('#export').click(function () {
                $('form')[0].action = exportAction;
            });
			$('#search').click(function () {
                $('form')[0].action = searchAction;
            });
        });



$(function(){
	$('a.delete').click(function() {
		$('#deleteid').val($(this).data('id'));
		$('#myModal').modal()
	});
	$('.datepicker').datepicker({
	    language: 'zh-CN',
	    format: 'yyyy-m-d'
	});

    $('.tagsinput').tagsinput({
        itemValue: function(item) {
            return item;
        }
    });
    $('.bootstrap-tagsinput input').prop('readonly', true);
	
	var county = [[${form.county}]];
    initSelectAndTag($('#county'), $('#countyTag'), county);


    var industry = [[${form.industry}]];
    initSelectAndTag($('#industry'), $('#industryTag'), industry);

    var dengji = [[${form.dengji}]];
    initSelectAndTag($('#dengji'), $('#dengjiTag'), dengji);


	$('#reset').click(function () {
        $('#county').selectpicker('val', '');
        $('#countyTag').tagsinput('removeAll');
        $('#industry').selectpicker('val', '');
        $('#industryTag').tagsinput('removeAll');
        $('#dengji').selectpicker('val', '');
        $('#dengjiTag').tagsinput('removeAll');
    });
});

/**
 *
 * @param $select jQuery object
 * @param $tag jQuery object
 * @param initVal string value
 */
function initSelectAndTag($select, $tag, initVal) {
    if(initVal){
        console.log('init select and tag with : ' + initVal);
        var valArray = initVal.split(',');
        $select.selectpicker('val', valArray);
        $tag.tagsinput('add', initVal);
    }
    link($select,$tag);
}


function link($select, $tag) {
    $select.on('changed.bs.select', function (e) {
        $tag.tagsinput('removeAll');
        var array = $select.val();
        if(array){
            var string = array.join(',');
            $tag.tagsinput('add', string);
		}
    });
    $tag.on('itemRemoved', function(event) {
        // event.item: contains the item
        $select.selectpicker('val', $(this).val().split(','));
        $select.selectpicker('refresh');
    });
}

</script>
</body>
</html>