<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="fragments/css :: head"></meta>
<link rel="stylesheet" th:href="@{/css/project-result.css}" />
</head>
<body class="example-screen">
	<div th:replace="fragments/banner :: div"></div>
	<!--<menu th:replace="fragments/menu :: menu(2)"></menu>-->
	<div th:replace="fragments/nav :: user(2)"></div>
	<div class="container hidden-print">
		<div class="row project-no-result" th:if="${project==null}">
			<div class="text-center">
				<h2>尚未录入任何项目信息！</h2>
				<h2>请在“项目信息”中录入相关信息以便查询。</h2>
				<a class="btn btn-default mybtn" th:href="@{/project/add}">确定</a>
			</div>
		</div>
		<div id="content" class="row main project-result example-print" th:if="${project}">
            <table th:replace="fragments/project_detail_table :: detail(${project})"></table>
		</div>
		<div th:if="${project}" style="margin: 20px auto;display: table;" class="center">
			<button id="save" type="button" class="btn btn-default mybtn">保存</button>
			<button onclick="print()" type="button" class="btn btn-default mybtn">打印</button>
			<a th:href="@{/project/add}" type="button" class="btn btn-default mybtn">返回</a>
		</div>

	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<div th:replace="fragments/logout_modal :: modal"></div>

    <table th:if="${project}" th:replace="fragments/project_detail_table_print :: print(${project})"></table>
	<div th:replace="fragments/js :: script"></div>
	<script th:src="@{/js/dom-to-image.min.js}"></script>
<script>
	$(function () {
		$('#save').click(function () {
            domtoimage.toJpeg(document.getElementById('content'), { quality: 0.95 })
                .then(function (dataUrl) {
                    var link = document.createElement('a');
                    link.download = $('#projectname').text() + '.jpeg';
                    link.href = dataUrl;
                    link.click();
                });
        })
    });
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
</body>
</html>