<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="fragments/css :: head"></meta>
	<link rel="stylesheet" th:href="@{/css/xz-table.css}" />
</head>
<body>
	<div th:replace="fragments/banner :: div"></div>
	<!--<menu th:replace="fragments/menu :: menu(9)"></menu>-->
	<div th:replace="fragments/nav :: admin(9)"></div>
	<div class="container">
		<div class="row main" style="padding-left: 0;">
			<form class="form-horizontal" method="post"
				  th:object="${form}" th:action="@{/admin/addmech}">
				<div class="form-group" th:classappend="${#fields.hasErrors('abbr')}? has-error">
					<label class="col-sm-2 control-label">机构简称</label>
					<div class="col-sm-10">
						<input name="abbr" type="text" class="form-control"
							placeholder="机构简称" />
						<span th:if="${#fields.hasErrors('abbr')}" class="help-block" th:errors="*{abbr}"></span>
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<label class="col-sm-2 control-label">负责人</label>-->
					<!--<div class="col-sm-4">-->
						<!--<input name="leader" type="text" class="form-control"-->
							<!--placeholder="负责人" />-->
					<!--</div>-->
					<!--<label class="col-sm-2 control-label">负责人联系方式</label>-->
					<!--<div class="col-sm-4">-->
						<!--<input name="leadercontact" type="text" class="form-control"-->
							<!--placeholder="负责人联系方式" />-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<label class="col-sm-2 control-label">联系人</label>
					<div class="col-sm-4">
						<input name="contact" type="text" class="form-control"
							placeholder="联系人" />
					</div>
					<label class="col-sm-2 control-label">联系人联系方式</label>
					<div class="col-sm-4">
						<input name="contactcontact" type="text" class="form-control"
							placeholder="联系人联系方式" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">邮箱</label>
					<div class="col-sm-4">
						<input name="email" type="text" class="form-control"
							   placeholder="邮箱" />
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<label class="col-sm-2 control-label">机构地址</label>-->
					<!--<div class="col-sm-4">-->
						<!--<input name="address" type="text" class="form-control"-->
							<!--placeholder="机构地址" />-->
					<!--</div>-->
					<!--<label class="col-sm-2 control-label">上级机关</label>-->
					<!--<div class="col-sm-4">-->
						<!--<input name="supervisor" type="text" class="form-control"-->
							<!--placeholder="上级机关" />-->
					<!--</div>-->
				<!--</div>-->
				<div style="margin: auto; display: table;" class="center">
					<button type="submit" class="btn btn-default mybtn">新增</button>
					<button id="search" type="submit" class="btn btn-default mybtn">查询</button>
					<a th:href="@{/export/mechan}" class="btn btn-default mybtn">导出</a>
				</div>
			</form>
		</div>
        <div th:replace="fragments/alert :: alert (type='success', message=${message})"></div>
        <div class="row main text-center" th:if="${total} == 0">
            无符合条件数据。
        </div>
        <div class="row main" th:if="${total} > 0">
			<div
				th:replace="fragments/alert :: alert (type='success', message=${message})"></div>
			<div class="col-xs-12 table-xz-container">
				<table class="table table-bordered table-hover table-xz">
					<thead>
						<tr>
							<th>机构简称</th>
							<!--<th width="80">负责人</th>-->
							<!--<th width="140">负责人联系方式</th>-->
							<th>联系人</th>
							<th>联系方式</th>
							<th>邮箱</th>
							<!--<th width="80">机构地址</th>-->
							<!--<th width="80">上级机关</th>-->
							<th width="50"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${list}">
							<td th:replace="fragments/td :: nowrap(${item.abbr},25)"></td>
							<!--<td th:replace="fragments/td :: nowrap(${item.leader},6)"></td>-->
							<!--<td th:replace="fragments/td :: nowrap(${item.leadercontact},28)"></td>-->
							<td th:replace="fragments/td :: nowrap(${item.contact},6)"></td>
							<td th:replace="fragments/td :: nowrap(${item.contactcontact},28)"></td>
							<td th:replace="fragments/td :: nowrap(${item.email},28)"></td>
							<!--<td th:replace="fragments/td :: nowrap(${item.address},15)"></td>-->
							<!--<td th:replace="fragments/td :: nowrap(${item.supervisor},12)"></td>-->
							<td class="text-center">
								<!--<a>查看</a>-->
								<form class="form-inline delete-form" method="POST"
									th:action="@{/admin/deletemech}">

									<input type="hidden" th:value="${item.id}" name="id" /> <a
										class="delete text-danger" th:attr="data-id=${item.id}">删除</a>
								</form></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 row">
				<div class="col-xs-6" style="line-height: 80px;">
					<div class="pull-right">
						<span>共<span th:text="${total}"></span>条记录
						</span> <span>共<span th:text="${pagecount}"></span>页
						</span> <span>当前第<span th:text="${pageno}"></span>页
						</span>
					</div>
				</div>
				<div class="pull-left col-xs-6">
					<nav aria-label="Page navigation" class=" ">
						<ul class="pagination">
							<li th:classappend="${pageno==1}? disabled"><a
								href="?pageno=1" aria-label="Previous"> <span
									aria-hidden="true">上一页</span>
							</a></li>
							<th:block th:each="i: ${#numbers.sequence(1, pagecount)}">
								<li th:classappend="${i==pageno}? active"><a
									th:href="'?pageno=' + ${i}" th:text="${i}"></a></li>
							</th:block>
							<li th:classappend="${pageno==pagecount}? disabled"><a
								th:href="'?pageno=' + ${pagecount}" aria-label="Next"> <span
									aria-hidden="true">下一页</span>
							</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>

	<div class="modal" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">确定删除吗？</h4>
				</div>
				<div class="modal-footer text-center">
					<form class="form-inline delete-form" method="POST"
						th:action="@{/admin/deletemech}">
						<input id="deleteid" type="hidden" name="id" />
						<button type="submit" class="btn btn-primary btn-danger">确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</form>
				</div>
			</div>
		</div>
	</div>
    <div th:replace="fragments/logout_modal :: modal"></div>

	<div th:replace="fragments/js :: script"></div>
	<script th:inline="javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
		$(function() {
			$('a.delete').click(function() {
				//$(this).closest('form')[0].submit();
				$('#deleteid').val($(this).data('id'));
				$('#myModal').modal()
			});

			var searchAction = [[@{/admin/searchmech}]];
			$('#search').click(function () {
               $('form')[0].action = searchAction;
            });
		});
	</script>
</body>
</html>