<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/css :: head"></meta>
    <link rel="stylesheet" th:href="@{/css/xz-table.css}" />
</head>
<body>
<div th:replace="fragments/banner :: div"></div>
<!--<menu th:replace="fragments/menu :: menu(6)"></menu>-->
<div th:replace="fragments/nav :: admin(6)"></div>
<div class="container">
	<div class="row main" style="padding: 20px;">
        <form class="form-horizontal" method="post" th:object="${form}">
            <div class="form-group" style="margin-bottom: 0;">
                <label class="col-sm-2 control-label" style="padding-top: 12px;">用户名</label>
                <div class="col-sm-3">
                    <input name="q" th:field="*{q}" class="form-control" type="text" style="margin-top: 5px;" />
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <input id="pageno" type="hidden" name="pageno" value="1" />
                    <button type="submit" class="btn btn-default mybtn">查询</button>
                    <a th:href="@{/export/user}" class="btn btn-default mybtn">导出</a>
                </div>
            </div>
        </form>
    </div>
        <div>
            <div th:replace="fragments/alert :: alert (type='success', message=${message})"></div>
            <div class="row main text-center" th:if="${total} == 0">
                无符合条件数据。
            </div>
            <div class="row main" th:if="${total} > 0">
                <div class="col-xs-12 table-xz-container">
                    <table class="table table-bordered table-hover table-xz">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>手机号</th>
                            <th>联系邮箱</th>
                            <th>状态</th>
                            <th width="130"></th>
                            <!--<th>上级机关</th>-->
                            <!--<th></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${list}">
                            <td th:replace="fragments/td :: nowrap(${item.username},11)"></td>
                            <td th:replace="fragments/td :: nowrap(${item.phone},15)"></td>
                            <td th:replace="fragments/td :: nowrap(${item.email},30)"></td>
                            <td th:replace="fragments/td :: nowrap(${item.enabled} ? '可用' : '已注销',6)"></td>
                            <td class="text-center">
                                <form method="post" th:action="@{/admin/resetuser}"  style="display: inline">
                                    <input type="hidden" name="id" th:value="${item.id}" />
                                    <button class="link-btn" type="submit">重置密码</button>
                                </form>
                                <form th:if="${!item.enabled}" method="post" th:action="@{/admin/enableuser}"  style="display: inline">
                                    <input type="hidden" name="id" th:value="${item.id}" />
                                    <button class="link-btn" type="submit">启用</button>
                                </form>
                                <form th:if="${item.enabled}" method="post" th:action="@{/admin/disableuser}"  style="display: inline">
                                    <input type="hidden" name="id" th:value="${item.id}" />
                                    <button class="link-btn text-danger" type="submit">注销</button>
                                </form>
                            </td>
                            <!--<td th:text="${item.supervisor}"></td>-->
                            <!--<td th:text="${item.abbr}"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 row">
                    <div class="col-xs-6" style="line-height: 80px;">
                        <div class="pull-right">
							<span>共<span th:text="${total}"></span>条记录
							</span> <span>共<span th:text="${pagecount}"></span>页
							</span> <span>当前第<span th:text="${pageno}"></span>页
							</span>
                        </div>
                    </div>
                    <div class="pull-left col-xs-6">
                        <nav aria-label="Page navigation" class=" ">
                            <ul class="pagination">
                                <li th:classappend="${pageno==1}? disabled">
                                    <a th:if="${pageno>1}"
                                       th:onclick="'$(\'#pageno\').val(' + ${pageno - 1} + ');$(\'form\')[0].submit();'"
                                       aria-label="Previous"> <span aria-hidden="true">上一页</span>
                                    </a>
                                    <a th:if="${pageno==1}" aria-label="Previous"> <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>
                                <th:block th:each="i: ${#numbers.sequence(1, pagecount)}">
                                    <li th:classappend="${i==pageno}? active"><a
                                            onclick="$('#pageno').val($(this).text());$('form')[0].submit();"
                                            th:text="${i}"></a></li>
                                </th:block>
                                <li th:classappend="${pageno==pagecount}? disabled">
                                    <a th:if="${pagecount>pageno}"
                                       th:onclick="'$(\'#pageno\').val(' + ${pageno + 1} + ');$(\'form\')[0].submit();'"
                                       aria-label="Next"> <span aria-hidden="true">下一页</span>
                                    </a>
                                    <a th:if="${pageno==pagecount}" aria-label="Next"> <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/logout_modal :: modal"></div>

<div th:replace="fragments/js :: script"></div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</body>
</html>