<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/css :: head"></meta>
    <link rel="stylesheet" th:href="@{/css/xz-table.css}" />
</head>
<body>
<div th:replace="fragments/banner :: div"></div>
<!--<menu th:replace="fragments/menu :: menu(7)"></menu>-->
<div th:replace="fragments/nav :: admin(7)"></div>
<div class="container hidden-print">
	<div class="row main" style="padding-left: 0;">
        <form class="form-horizontal" method="post" th:object="${form}">
            <div class="form-group">
                <div class="col-sm-10" style="padding: 0;">
                    <div class="col-sm-6" style="padding: 0;">
                        <label class="col-sm-4 control-label" >用户名</label>
                        <div class="col-sm-8" style="padding: 0;">
                            <input th:field="*{username}" type="text" name="username" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding: 0;">
                        <label class="col-sm-4 control-label text-center">查询日期</label>
                        <div class="col-sm-3" style="padding: 0;">
                            <input name="dateFrom" th:field="*{dateFrom}" type="text"
                                   class="form-control datepicker" readonly="readonly"
                                   placeholder=""   style="padding: 0;text-align: center"/>
                            <div  th:field="${dateFrom}"></div>
                        </div>
                        <label class="col-sm-2 control-label text-center">至</label>
                        <div class="col-sm-3" style="padding: 0;">
                            <input name="dateTo" th:field="*{dateTo}" type="text"
                                   class="form-control datepicker" readonly="readonly"
                                   placeholder=""  style="padding: 0;text-align: center"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <input id="pageno" type="hidden" name="pageno" value="1" />
                    <button type="submit" class="btn btn-default mybtn">查询</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10" style="padding: 0;">
                    <div class="col-sm-6" style="padding: 0;">
                        <label class="col-sm-4 control-label">项目名称</label>
                        <div class="col-sm-8" style="padding: 0;">
                            <input th:field="*{projectname}" type="text" name="projectname" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding: 0;">
                        <label class="col-sm-4 control-label text-center">水土保持分类</label>
                        <div class="col-sm-8" style="padding: 0;">
                            <select th:field="*{level}" name="level" class="form-control">
                                <option value="A类">A类</option>
                                <option value="B类">B类</option>
                                <option value="C类">C类</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a th:href="@{/export/userproject}" class="btn btn-default mybtn">导出</a>
                </div>
            </div>
        </form>
	</div>
    <div>
        <div th:replace="fragments/alert :: alert (type='success', message=${message})"></div>
        <div class="row main text-center" th:if="${total} == 0">
            无符合条件数据。
        </div>
        <div class="row main" th:if="${total} > 0">
            <div class="col-xs-12 table-xz-container">
                <table class="table table-bordered table-hover table-xz">
                    <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>涉及区县</th>
                        <th>水土保持分类</th>
                        <th>用户名</th>
                        <th width="100">手机号</th>
                        <th width="100">查询日期</th>
                        <th width="100"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${list}">
                        <!--<td th:text="${item.name}" style="white-space: normal"></td>-->
                        <td th:replace="fragments/td :: nowrap(${item.name},20)"></td>
                        <td th:replace="fragments/td :: nowrap(${item.county},20)"></td>
                        <td th:replace="fragments/td :: nowrap(${item.dengji},6)"></td>
                        <td th:replace="fragments/td :: nowrap(${item.username},6)"></td>
                        <td th:replace="fragments/td :: nowrap(${item.phone},15)"></td>
                        <td th:replace="fragments/td :: nowrap(${#calendars.format(item.datecreated,'yyyy-M-d')},28)"></td>
                        <td class="text-center">
                            <a data-toggle="modal" th:attr="data-target='#' + ${item.id}">查看</a>
                            <a class="delete text-danger" th:attr="data-id=${item.id}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 row">
                <div class="col-xs-6" style="line-height: 80px;">
                    <div class="pull-right">
							<span>共<span th:text="${total}"></span>条记录
							</span> <span>共<span th:text="${pagecount}"></span>页
							</span> <span>当前第<span th:text="${pageno}"></span>页
							</span>
                    </div>
                </div>
                <div class="pull-left col-xs-6">
                    <nav aria-label="Page navigation" class=" ">
                        <ul class="pagination">
                            <li th:classappend="${pageno==1}? disabled">
                                <a th:if="${pageno>1}"
                                   th:onclick="'$(\'#pageno\').val(' + ${pageno - 1} + ');$(\'form\')[0].submit();'"
                                   aria-label="Previous"> <span aria-hidden="true">上一页</span>
                                </a>
                                <a th:if="${pageno==1}" aria-label="Previous"> <span aria-hidden="true">上一页</span>
                                </a>
                            </li>
                            <th:block th:each="i: ${#numbers.sequence(1, pagecount)}">
                                <li th:classappend="${i==pageno}? active"><a
                                        onclick="$('#pageno').val($(this).text());$('form')[0].submit();"
                                        th:text="${i}"></a></li>
                            </th:block>
                            <li th:classappend="${pageno==pagecount}? disabled">
                                <a th:if="${pagecount>pageno}"
                                   th:onclick="'$(\'#pageno\').val(' + ${pageno + 1} + ');$(\'form\')[0].submit();'"
                                   aria-label="Next"> <span aria-hidden="true">下一页</span>
                                </a>
                                <a th:if="${pageno==pagecount}" aria-label="Next"> <span aria-hidden="true">下一页</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">确定删除吗？</h4>
            </div>
            <div class="modal-footer text-center">
                <form class="form-inline delete-form" method="POST"
                      th:action="@{/admin/deleteuserproject}">
                    <input id="deleteid" type="hidden" name="id" />
                    <button type="submit" class="btn btn-primary btn-danger">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:each="item : ${list}" th:id="${item.id}">
    <div th:replace="fragments/project_detail_modal :: detail(${item})"></div>
</th:block>
<div th:replace="fragments/logout_modal :: modal"></div>

<div th:replace="fragments/js :: script"></div>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script th:src="@{/js/dom-to-image.min.js}"></script>
<script th:src="@{/js/sava-project.js}"></script>
<script th:inline="javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(function () {
        $('.datepicker').datepicker({
            language: 'zh-CN',
            format: 'yyyy-m-d'
        });
    });
    $('a.delete').click(function() {
        //$(this).closest('form')[0].submit();
        $('#deleteid').val($(this).data('id'));
        $('#myModal').modal()
    });
</script>
</body>
</html>