<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="banner">
    <h3>西藏自治区生产建设项目水土保持分类管理咨询平台</h3>
    <div th:if="${session.USER}" class="hidden-print">
        <span th:text="${#strings.isEmpty(session.USER.username) ? session.USER.phone : session.USER.username}"></span>
        <a data-toggle="modal" data-target="#logoutModal" class="logout"></a>
    </div>
</div>
</body>
</html>