<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="banner container">
    <table class="">
        <tr>
            <td valign="middle"><h3>西藏自治区生产建设项目水土保持分类管理咨询平台</h3></td>
            <th:block th:if="${session.USER}">
                <td width="80" valign="middle" align="right"><span th:text="${#strings.isEmpty(session.USER.username) ? session.USER.phone : session.USER.username}"></span></td>
                <td width="80" valign="middle" align="right"><a data-toggle="modal" data-target="#logoutModal" class="logout" title="退出系统"></a></td>
            </th:block>
        </tr>
    </table>
</div>
</body>
</html>