<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headfragment">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>西藏自治区生产建设项目水土保持分类管理咨询平台</title>
        <link rel="icon" th:href="@{/images/icon.png}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/css/banner.css}" />
        <link rel="stylesheet" th:href="@{/css/nav.css}" />
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="/js/es5-shim.min.js"></script>
            <script src="/js/es5-sham.min.js"></script>
            <script src="/js/es6-shim.js"></script>
            <script src="/js/es6-sham.min.js"></script>
            <script src="/js/html5shiv.min.js"></script>
            <script src="/js/respond.min.js"></script>
            <link rel="stylesheet" href="/css/ie8.css" />
        <![endif]-->
        <!--[if IE 9]>
        <script src="/js/es6-shim.min.js"></script>
        <script src="/js/es6-sham.min.js"></script>
        <![endif]-->
    </th:block>
</head>
<body>

</body>
</html>