<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="navbar" th:fragment="header(activeIndex)">
    <div class="button-split">
        <a th:href="@{/customer}">
            <button th:classappend="${activeIndex==1}? selected">Customers22</button>
        </a>
        <a th:href="@{/product}">Products
            <button th:classappend="${activeIndex==2}? selected">Products</button>
        </a>
    </div>
</header>
</body>
</html>