<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="user(activeIndex)" class="xz-nav-block hidden-print">
    <div class="container">
        <ul class="xz-nav clearfix">
            <li th:classappend="${activeIndex==1}? active">
                <a class="edit" th:href="@{/project/add}">项目信息</a>
            </li>
            <li th:classappend="${activeIndex==2}? active"><a
                    class="category" th:href="@{/project/result}">分类结果</a></li>
            <li th:classappend="${activeIndex==3}? active"><a
                    class="help" th:href="@{/project/help}">系统帮助</a></li>
            <li th:classappend="${activeIndex==4}? active"><a
                    class="documents" th:href="@{/project/documents}">资料下载</a></li>
            <li th:classappend="${activeIndex==5}? active"><a
                    class="admin" th:href="@{/project/manage}">管理与查询</a></li>
            <th:block th:if="${session.USER}">
                <li th:if="${session.USER.isAdmin()}" class="pull-right">
                    <a th:href="@{/admin/userinfo}"><span class="glyphicon glyphicon-user"></span></a>
                </li>
            </th:block>
        </ul>
    </div>
</div>
<div th:fragment="admin(activeIndex)" class="xz-nav-block hidden-print">
    <div class="container">
    <ul class="xz-nav clearfix">
        <th:block th:if="${session.USER}">
            <li th:if="${session.USER.isAdmin()}" th:classappend="${activeIndex==6}? active"><a
                    class="userinfo" th:href="@{/admin/userinfo}">用户信息管理</a></li>
            <li th:if="${session.USER.isAdmin()}" th:classappend="${activeIndex==7}? active"><a
                    class="userlog" th:href="@{/admin/userlog}">用户日志管理</a></li>
            <li th:if="${session.USER.isAdmin()}" th:classappend="${activeIndex==8}? active"><a
                    class="guestlog" th:href="@{/admin/publiclog}">游客日志管理</a></li>
            <li th:if="${session.USER.isAdmin()}" th:classappend="${activeIndex==9}? active"><a
                    class="institute" th:href="@{/admin/insinfo}">机构信息管理</a></li>
            <li class="pull-right">
                <a th:href="@{/project/add}"><span class="glyphicon glyphicon-home"></span></a>
            </li>
        </th:block>
    </ul>
    </div>
</div>
</body>
</html>