<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table th:fragment="detail(project)"
       class="table table-responsive hidden-print table-vcenter"
       style="background-color: #FFFFFF;border-collapse: separate;border-spacing: 20px 0;">
    <thead>
    <tr>
        <th class="col-md-5 text-center">项目信息</th>
        <th class="col-md-7 text-center">水土保持分类管理级别与要求</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <span class="col-md-5 text-right">项目名称</span>
            <span id="projectname" class="col-md-7 text-left" th:text="${project.name}"></span>
        </td>
        <td>
            <span class="col-md-4 text-right">水土保持分类</span>
            <span class="col-md-8 text-left" th:text="${project.dengji}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="col-md-5 text-right">项目编号</span>
            <span class="col-md-7 text-left" th:text="${project.code}"></span>
        </td>
        <td>
            <span class="col-md-4 text-right">水土保持方案形式</span>
            <span class="col-md-8 text-left" th:text="${project.xingshi}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="col-md-5 text-right">所属行业</span>
            <span class="col-md-7 text-left" th:text="${project.industry}"></span>
        </td>
        <td>
            <span class="col-md-4 text-right">水土保持方案审批</span>
            <span class="col-md-8 text-left" th:text="${project.shenpi}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="col-md-5 text-right">涉及区县</span>
            <span class="col-md-7 text-left" th:text="${project.county}"></span>
        </td>
        <td>
            <span class="col-md-4 text-right">监督检查</span>
            <span class="col-md-8 text-left" th:text="${project.jiandujiancha}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="col-md-5 text-right">自治区级水土流失重点防治区</span>
            <span class="col-md-7 text-left" th:text="${project.fzq}"></span>
        </td>
        <td>
            <span class="col-md-4 text-right">水土保持后续设计</span>
            <span class="col-md-8 text-left" th:text="${project.houxusheji}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="col-md-5 text-right">项目占地面积(公顷)</span>
            <span class="col-md-7 text-left" th:text="${project.area}"></span>
        </td>
        <td>
            <span class="col-md-4 text-right">水土保持监理</span>
            <span class="col-md-8 text-left" th:text="${project.jianli}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="col-md-5 text-right">项目土石方总量(万立方米)</span>
            <span class="col-md-7 text-left" th:text="${project.sum}"></span>
        </td>
        <td>
            <span class="col-md-4 text-right">水土保持监测</span>
            <span class="col-md-8 text-left" th:text="${project.jiance}"></span>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <span class="col-md-4 text-right">水土保持设施验收</span>
            <span class="col-md-8 text-left" th:text="${project.sheshiyanshou}"></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>