<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table th:if="${project}"
        th:fragment="print(project)"
        class="table table-bordered table-responsive visible-print-block table-vcenter">
    <tbody>
    <tr>
        <td rowspan="7" valign="middle" style="vertical-align: middle;">项目信息</td>
        <td>项目名称</td>
        <td th:text="${project.name}"></td>
    </tr>
    <tr>
        <td>项目编号</td>
        <td th:text="${project.code}"></td>
    </tr>
    <tr>
        <td>所属行业</td>
        <td th:text="${project.industry}"></td>
    </tr>
    <tr>
        <td>涉及区县</td>
        <td th:text="${project.county}"></td>
    </tr>
    <tr>
        <td>自治区级水土流失重点防治区</td>
        <td th:text="${project.fzq}"></td>
    </tr>
    <tr>
        <td>项目占地面积(公顷)</td>
        <td th:text="${project.area}"></td>
    </tr>
    <tr>
        <td>项目土石方总量(万立方米)</td>
        <td th:text="${project.sum}"></td>
    </tr>
    <tr>
        <td rowspan="8" valign="middle" style="vertical-align: middle;">水土保持分类管理级别与要求</td>
        <td>水土保持分类</td>
        <td th:text="${project.dengji}"></td>
    </tr>
    <tr>
        <td>水土保持方案形式</td>
        <td th:text="${project.xingshi}"></td>
    </tr>
    <tr>
        <td>水土保持方案审批</td>
        <td th:text="${project.shenpi}"></td>
    </tr>
    <tr>
        <td>监督检查</td>
        <td th:text="${project.jiandujiancha}"></td>
    </tr>
    <tr>
        <td>水土保持后续设计</td>
        <td th:text="${project.houxusheji}"></td>
    </tr>
    <tr>
        <td>水土保持监理</td>
        <td th:text="${project.jianli}"></td>
    </tr>
    <tr>
        <td>水土保持监测</td>
        <td th:text="${project.jiance}"></td>
    </tr>
    <tr>
        <td>水土保持设施验收</td>
        <td th:text="${project.sheshiyanshou}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>