<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xs-6 result-section-container">
    <div class="row result-section" style="min-height: 584px;">
        <h3>项目信息</h3>
        <div class="info-row col-xs-12">
            <div class="pull-left">项目名称</div>
            <div id="projectname" class="pull-right col-xs-5" th:text="${project.name}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">所属行业</div>
            <div class="pull-right col-xs-5" th:text="${project.industry}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">涉及区县</div>
            <div class="pull-right col-xs-5" th:text="${project.county}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">自治区级水土流失重点防治区</div>
            <div class="pull-right col-xs-5" th:text="${project.fzq}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">项目占地面积（公顷）</div>
            <div class="pull-right col-xs-5" th:text="${project.area}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">项目土石方总量（万立方米）</div>
            <div class="pull-right col-xs-5" th:text="${project.sum}"></div>
        </div>
    </div>
</div>
<div class="col-xs-6 result-section-container"
     style="padding-left: 0;">
    <div class="row result-section">
        <h3>水土保持分类级别及管理</h3>
        <div class="info-row col-xs-12">
            <div class="pull-left">水土保持方案形式</div>
            <div class="pull-right col-xs-7" th:text="${project.dengji}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">水土保持方案形式</div>
            <div class="pull-right col-xs-7" th:text="${project.xingshi}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">水土保持方案审批</div>
            <div class="pull-right col-xs-7" th:text="${project.shenpi}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">监督检查</div>
            <div class="pull-right col-xs-7"
                 th:text="${project.jiandujiancha}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">水土保持后续设计</div>
            <div class="pull-right col-xs-7" th:text="${project.houxusheji}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">水土保持监理</div>
            <div class="pull-right col-xs-7" th:text="${project.jianli}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">水土保持监测</div>
            <div class="pull-right col-xs-7" th:text="${project.jiance}"></div>
        </div>
        <div class="info-row col-xs-12">
            <div class="pull-left">水土保持设施验收</div>
            <div class="pull-right col-xs-7"
                 th:text="${project.sheshiyanshou}"></div>
        </div>
    </div>
</div>
</body>
</html>