<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
    <td th:fragment="nowrap(content,length)">
        <span th:if="${#strings.isEmpty(content)}">--</span>
        <th:block th:if="${not #strings.isEmpty(content)}">
            <span th:if="${#strings.length(content) > length}"
                  th:text="${#strings.abbreviate(content,length)}"
                  th:attr="data-toggle='tooltip'"
                  th:title="${content}">
                long text
            </span>
            <span th:if="${not (#strings.length(content) > length)}" th:text="${content}">
                short text
            </span>
        </th:block>

        <!--<span th:text="${#strings.abbreviate(content,length)}"-->
              <!--th:attr="${(#strings.length(content) > length) ? 'title='+ ${content} + ',data-toggle=tooltip' : ''}" th:title="${content}" data-toggle="tooltip"></span>-->
    </td>
</body>
</html>