.banner{
    height: 200px;
    background: #38B0FB;
    background: -webkit-gradient(linear, left top, right top, from(#31ABFA) , to(#58C5FC));
    background: -webkit-linear-gradient(left, #31ABFA , #58C5FC);
    background: -o-linear-gradient(left, #31ABFA , #58C5FC);
    background: linear-gradient(to right, #31ABFA , #58C5FC);
    /*color: #FFFD37;*/
    color: #FFFFFF;
    background-image: url(../images/1280.jpg);
    background-size: 100% 100%;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/1280.jpg',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/1280.jpg',sizingMethod='scale')";
}
.banner h3{
    margin:0;
}
.banner>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.banner table{
    /*height:100%;*/
    height:80px;
    width: 100%;
}

.logout{
    background-image: url(../images/logout.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/logout.png',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/logout.png',sizingMethod='scale')";
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px;
    /*margin: 0 50px;*/
}