
footer,
.xz-footer{
    background-color: #FFFFFF;
    color: #B6B6B6;
    text-align: center;
    padding: 15px 0 5px;
    /*bottom: 0;*/
    /*right: 0;*/
    -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
    /*position: fixed;*/
    /*left: 200px;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 60px;*/
}
.no-menu footer,
.no-menu .xz-footer{
    left: 0;
}
footer a,
.xz-footer a{
    color: #009BF8;
}