.xz-nav-block{
    border-bottom: 5px solid #999999;
    height: 58px;
}
.xz-nav{
    padding: 0;
    margin: 0;
}
.xz-nav>li{
    float: left;
    display: block;
    padding: 0 25px;
    height: 56px;
}
.xz-nav>li>a{
    display: block;
    padding: 10px 15px;
    /*line-height: 60px;*/
    font-size: 24px;
    height: 60px;
    color: #000;
}
.xz-nav>li.active>a{
    border-bottom: 8px solid #980631;
}

/*#38B0FB*/