.result-section-container {
    padding: 10px 50px;
}

.result-section {
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    height: 100%;
}

.project-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.info-row {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
}