html {
    position: relative;
    min-height: 100%;
    background-color: #ebebeb;
}
body {
    margin-bottom: 80px;
    background-color: #ebebeb;
}
/* button{
    background: #980631;
    color: white;
    border: none;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 50px;
} */

#login{
    height: 800px;
    background-image: url(../images/banner.jpg);
    background-size: 100% 800px;
    position: relative;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/banner.jpg',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/banner.jpg',sizingMethod='scale')";
}
#login .form-container{
    width:980px;
    margin-left: -490px;
    height:330px;
    /*margin-top: -165px;*/
    left: 50%;
    top: 50%;
    position: absolute;
}
#login .form-container .info{
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    position:relative;
    background-image: url(../images/bg.png);
    background-position: center;
    /*background-image: url(../images/bg2.png);*/
}
#login .form-container .info .topRight{
    background-image: url(../images/banner.jpg);
    background-size: 100% 800px;
    background-position: 50% 22%;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}
#login .form-container .info .bottomRight{
    background-image: url(../images/banner.jpg);
    background-size: 100% 800px;
    background-position: 50% 78%;
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}

#login .form-container .form{
    float: right;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    position:relative
}

#login .form-container .form .nav-tabs{
    background-color: #F2F3F5;
    font-size: 20px;
}
#login .form-container .form .nav-tabs > li{
    float: right;
    width: 50%;
    text-align: center;
}

#login .form-container .form .nav-tabs > li.active > a{
    margin-right: 0px;

}
/*#login .form-container .form .nav-tabs > li.active > a::before{*/
/*content: '';*/
/*position: absolute;*/
/*top: 0;*/
/*bottom: 0;*/
/*!* right: -15px; *!*/
/*left: -7px;*/
/*display: block;*/
/*width: 19px;*/
/*background: white;*/
/*-webkit-transform: skew(-18deg);*/
/*-ms-transform: skew(-18deg);*/
/*transform: skew(-18deg);*/
/*margin-bottom: -1px;*/
/*!* border: 1px solid; *!*/
/*border-left: 1px solid #ddd;*/
/*}*/
/*#login .form-container .form .nav-tabs > li.userlogin.active > a::after{*/
/*content: '';*/
/*position: absolute;*/
/*top: 0;*/
/*bottom: 0;*/
/*!* right: -15px; *!*/
/*right: -7px;*/
/*display: block;*/
/*width: 19px;*/
/*background: white;*/
/*-webkit-transform: skew(-18deg);*/
/*-ms-transform: skew(-18deg);*/
/*transform: skew(-18deg);*/
/*margin-bottom: -1px;*/
/*!* border: 1px solid; *!*/
/*border-right: 1px solid #ddd;*/
/*}*/

#login form{
    padding: 0 50px;
}
#login form input.form-input{
    display: block;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 50px;
    /*border: none;*/
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    font-size: 20px;
    /*letter-spacing: 8px;*/
}
#login form input.form-input:focus{
    outline-width: 1px;
}
#login form input.form-input::-webkit-input-placeholder,
#login form input.form-input::-moz-placeholder,
#login form input.form-input:-ms-input-placeholder,
#login form input.form-input:-moz-placeholder,
#login form input.form-input::-webkit-input-placeholder {
    color: #979797;
    font-size: 20px;
    vertical-align: center;
    font-weight: 400;
    /*letter-spacing: 8px;*/
}
#login form input.form-input::-webkit-input-placeholder,
#login form input.form-input::-moz-placeholder,
#login form input.form-input:-ms-input-placeholder,
#login form input.form-input:-moz-placeholder,
#login form input.form-input::placeholder {
    color: #979797;
    font-size: 20px;
    vertical-align: center;
    font-weight: 400;
    /*letter-spacing: 8px;*/
}

#login form input.form-input.icon,#login form input.form-input.icon:-webkit-autofill{
    background-image: url(../images/account.png);
    /*-moz-background-size: 36px;*/
    /*-webkit-background-size: 36px;*/
    /*-o-background-size: 36px;*/
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}

#login form input.form-input.icon.username{
    background-image: url(../images/account.png);
    /*-moz-background-size: 36px;*/
    /*-webkit-background-size: 36px;*/
    /*-o-background-size: 36px;*/
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}

#login form input.form-input.icon.password{
    background-image: url(../images/password.png);
    /*-moz-background-size: 36px;*/
    /*-webkit-background-size: 36px;*/
    /*-o-background-size: 36px;*/
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}

#login form input.form-input.icon.code{
    background-image: url(../images/code.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}

#login .register-form input.form-control.icon::-webkit-input-placeholder,
#login .register-form input.form-control.icon::-moz-placeholder,
#login .register-form input.form-control.icon:-ms-input-placeholder,
#login .register-form input.form-control.icon:-moz-placeholder,
#login .register-form input.form-control.icon::-webkit-input-placeholder {
    color: #979797;
    font-size: 12px;
    vertical-align: center;
    font-weight: 400;
    /*letter-spacing: 8px;*/
}

#login .register-form input.form-control.icon::-webkit-input-placeholder,
#login .register-form input.form-control.icon::-moz-placeholder,
#login .register-form input.form-control.icon:-ms-input-placeholder,
#login .register-form input.form-control.icon:-moz-placeholder,
#login .register-form input.form-control.icon::placeholder {
    color: #979797;
    font-size: 12px;
    vertical-align: center;
    font-weight: 400;
    /*letter-spacing: 8px;*/
}

.register-form input.icon{
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    /*width: 350px;*/
    height: 40px;
    border: none;
    border-radius: 0;
    padding-left: 60px;
    /* margin: 30px auto; */
    font-size: 20px;
    /*letter-spacing: 8px;*/
}
.register-form input.icon.username{
    background-image: url(../images/account.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}
.register-form input.icon.phone{
    background-image: url(../images/phone.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}
.register-form input.icon.code{
    background-image: url(../images/code.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}
.register-form input.icon.password{
    background-image: url(../images/password.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}
.register-form input.icon.email{
    background-image: url(../images/email.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}
.register-form input.icon{
    background-image: url(../images/code.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 60px;
}
.register-form .form-group{
    margin-bottom: 6px;
}


.codediv{
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 30px auto;
}
#login form .codediv input.form-input.icon.code{
    display: inline;
    width: 250px;
    margin: 0;
}
#login form .codediv input#sendcode{
    width: 95px;
    height: 50px;
    vertical-align: bottom;
    /*background-color: #31ABFA;*/
    border-radius: 5px;
    border: none;
    /*-webkit-box-shadow: 0 0 5px 5px rgba(49,171,250, 0.2);*/
    /*box-shadow: 0 0 5px 5px rgba(49,171,250, 0.2);*/
    color: white;
    background-color: #980631;
    -webkit-box-shadow: 0 0 5px 5px rgba(152,6,49, 0.2);
    box-shadow: 0 0 5px 5px rgba(152,6,49, 0.2);
}
#login form input[type="submit"]{
    /*background-color: #31ABFA;*/
    background-color: #980631;
    -webkit-box-shadow: 0 0 5px 5px rgba(152,6,49, 0.2);
    box-shadow: 0 0 5px 5px rgba(152,6,49, 0.2);
    border-radius: 5px;
    border: none;
    /*-webkit-box-shadow: 0 0 5px 5px rgba(49,171,250, 0.2);*/
    /*box-shadow: 0 0 5px 5px rgba(49,171,250, 0.2);*/
    color: white;
    width: 210px;
    height: 50px;
    margin: 50px auto;
    display: block;
    font-size: 20px;
    /*letter-spacing: 10px;*/
}
.links{
    width: 350px;
    border: none;
    border-radius: 5px;
    margin: 30px auto -30px;
}
.links a{
    font-size: 16px;
}
.links .forgetpassword{
    color: #EF877E;
}
.links .register{
    float: right;
}

p.error-message{
    margin: -20px auto;
    width: 350px;
    color: #a94442;
}


.nav-tabs > li.userlogin > a{
    border-left: none;
}
.nav-tabs > li.userlogin:not(.active) > a:hover,.nav > li.userlogin:not(.active) > a:hover{
    border-color: transparent;
    background-color: inherit;
}
#login li:not(.active) a{
    /*color: #00A5FA;*/
    color: #980631;
}


.fixed_content{
    position: fixed;
    top: 65px;
    right: 0;
    left: 200px;
    bottom: 80px;
    padding: 24px;
    overflow: auto;
    background-color: #F5F5F5;
}
.no-menu .fixed_content{
    left: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #E5EDF1;
}





.register-back{
    background-image: url(../images/close.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px
}

.container-fluid{
    height: 100%;
    margin-top: -65px;
    padding-top: 65px;
}
.container-fluid>.row{
    height: 100%;
}
.container-fluid>.row>div{
    height: 100%;
}

#menu{
    background-color: #FDFDFD;
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin: 0;
    z-index: 1;
    padding: 20px 0;
    width: 200px;
    position: fixed;
    left: 0;
    top: 65px;
    bottom: 0;
}
#menu li a{
    padding: 10px 10px 10px 60px;
    background-image: url(../images/edit.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 20px;
    font-size: 18px;
    color: #9B9B9B;

}
#menu li.active a{
    color: #38B0FB;
}
#menu li a.edit{
    background-image: url(../images/edit.png);

}
#menu li.active a.edit{
    background-image: url(../images/edit_active.png);
}
#menu li a.category{
    background-image: url(../images/category.png);

}
#menu li.active a.category{
    background-image: url(../images/category_active.png);
}
#menu li a.help{
    background-image: url(../images/help.png);

}
#menu li.active a.help{
    background-image: url(../images/help_active.png);
}
#menu li a.documents{
    background-image: url(../images/documents.png);

}
#menu li.active a.documents{
    background-image: url(../images/documents_active.png);
}
#menu li a.admin{
    background-image: url(../images/admin.png);

}
#menu li.active a.admin{
    background-image: url(../images/admin_active.png);
}
#menu li a.userinfo{
    background-image: url(../images/userinfo.png);

}
#menu li.active a.userinfo{
    background-image: url(../images/userinfo_active.png);
}
#menu li a.userlog{
    background-image: url(../images/userlog.png);

}
#menu li.active a.userlog{
    background-image: url(../images/userlog_active.png);
}
#menu li a.guestlog{
    background-image: url(../images/guestlog.png);

}
#menu li.active a.guestlog{
    background-image: url(../images/guestlog_active.png);
}
#menu li a.institute{
    background-image: url(../images/institute.png);

}
#menu li.active a.institute{
    background-image: url(../images/institute_active.png);
}

.main-container{
    background-color: #F5F5F5;
}
.row.main {
    margin: 20px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0,0,0, 0.1);
    padding: 50px 40px;
}

.documents-list{

}
.documents-list li{
    list-style: none;
    border-bottom: 3px solid #F0F0F0;
    padding: 12px 30px 12px 2px;
    font-size: 18px;
}
.documents-list li a{
    float: right;
    padding: 0 20px;
}
.documents-list li a.preview{
    color: #38B0FB;
}
.documents-list li a.download{
    color: #4EAB54;
}


.add-project-form{

}

.btn.mybtn{
    padding: 10px 20px;
    margin: 0 30px;
    -webkit-box-shadow: 0 0 5px 5px rgba(152,6,49, 0.2);
    box-shadow: 0 0 5px 5px rgba(152,6,49, 0.2);
    background-color: #980631;
    color: #fff;
    font-size: 16px;
    letter-spacing: 20px;
    text-align: center;
    text-indent: 20px;
}
.btn.mybtn.compact{
    padding: 10px 30px;
    letter-spacing: 0;
    text-align: center;
    text-indent: 0;
}

.btn.mybtn[disabled]:focus,
.btn.mybtn[disabled]:hover,
.btn.mybtn:focus,
.btn.mybtn:hover{
    background-color: #980631;
}

*.required:after{
    content:"*";
    color:red;
    position: absolute;
    right: 0;
    top: 8px;
}

.help-page img{
    max-width: 100%;
    min-width: 80%;
}

a.export-ins{
    background-image: url(../images/download.png);
    background-size: 100% 100%;
    display: block;
    /*position: absolute;*/
    width: 30px;
    height: 20px;
    /*right: 50px;*/
    /*top: -30px;*/
    float: right;
}

.help-info{
    font-size: 1.5em;
}
.help-info .text-center{
    padding: 10px;
}


.project-no-result{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(1,1,1,0.2);
    z-index: 100;
}
.project-no-result>div{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    /* height: 50%; */
    top: 25%;
    position: absolute;
    left: 25%;
    border-radius: 10px;
    padding: 60px 20px;
}
.project-no-result>div a.mybtn{
    margin-top: 60px;
}

.control-label.text-center{
    text-align: center;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    /*background-color: #52C1FC;*/
}

.delete-form.form-inline{
    display: inline;
}
.delete-form.form-inline a{

}

.modal-title{
    text-align: center;
}
.modal-footer{
    text-align: center;
}

.modal.in .modal-dialog
{
    -webkit-transform: translate(0, calc(50vh - 50%));
    -ms-transform: translate(0, 50vh) translate(0, -50%);
    transform: translate(0, 50vh) translate(0, -50%);
}

.link-btn{
    background: none;
    border: none;
    color: #52C1FC;
}
.link-btn.text-danger{
    color: #a94442;
}

a{
    cursor: pointer;
}

.glyphicon-spin{
    -webkit-animation: glyphicon-spin 2s infinite linear;
    animation: glyphicon-spin 2s infinite linear;
}
@-webkit-keyframes glyphicon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes glyphicon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.table-vcenter > tbody > tr > td{
    vertical-align: middle;
}

/*@media print {*/
    /*.visible-print-block{*/
        /*position: fixed;*/
        /*left:0;*/
        /*top: 100px;*/
        /*right:0;*/
    /*}*/
/*}*/