<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="fragments/css :: head"></meta>
<link rel="stylesheet" th:href="@{/css/forget.css}" />
</head>
<body class="no-menu">
	<div th:replace="fragments/banner :: div"></div>
	<div class="fixed_content">
			<form class="register-form container col-xs-8 col-xs-offset-2" method="POST"
				th:action="@{/account/forget}" th:object="${form}">
				<div class="row main">
					<div class="col-xs-12">
						<h2 class="text-center">找回密码</h2>
						<div class="form-horizontal">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('username')}? has-error">
								<label class="col-sm-3 control-label">用户名</label>
								<div class="col-sm-9 required">
									<input autocomplete="off" type="text" class="form-control"
										placeholder="请填写用户名" required="required"
										th:field="*{username}" name="username" /> <span
										th:if="${#fields.hasErrors('username')}" class="help-block"
										th:errors="*{username}"></span>
								</div>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('phone')}? has-error">
								<label class="col-sm-3 control-label">手机号</label>
								<div class="col-sm-9 required">
									<input id="phone" autocomplete="off" type="text"
										class="form-control" placeholder="请填写手机号" required="required"
										th:field="*{phone}" name="phone" /> <span
										th:if="${#fields.hasErrors('phone')}" class="help-block"
										th:errors="*{phone}"></span>
								</div>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('code')}? has-error">
								<label class="col-sm-3 control-label">验证码</label>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-xs-8 required">
											<input autocomplete="off" type="text" class="form-control"
												required="required" placeholder="请填写验证码" th:field="*{code}"
												name="code" /> <span th:if="${#fields.hasErrors('code')}"
												class="help-block" th:errors="*{code}"></span>
										</div>
										<div class="col-xs-4">
											<input id="sendcode" type="button"
												class="form-control btn btn-default mybtn" value="发送验证码"
												style="padding: 6px 30px;" />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('password')}? has-error">
								<label class="col-sm-3 control-label">设置密码</label>
								<div class="col-sm-9 required">
									<input autocomplete="off" type="password" class="form-control"
										placeholder="请设置密码" required="required" th:field="*{password}"
										name="password" /> <span
										th:if="${#fields.hasErrors('password')}" class="help-block"
										th:errors="*{password}"></span>
								</div>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('repeatPassword')}? has-error">
								<label class="col-sm-3 control-label">确认密码</label>
								<div class="col-sm-9 required">
									<input autocomplete="off" type="password" class="form-control"
										placeholder="请确认密码" required="required"
										th:field="*{repeatPassword}" name="repeatPassword" /> <span
										th:if="${#fields.hasErrors('repeatPassword')}"
										class="help-block" th:errors="*{repeatPassword}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="margin: auto; display: table;" class="center">
					<button type="submit" class="btn btn-default mybtn">确认</button>
					<a type="button" class="btn btn-default mybtn" th:href="@{/}">返回</a>
				</div>
			</form>
		
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>

	<div th:replace="fragments/js :: script"></div>
	<script th:src="@{/js/form-validation.js}"></script>
	<script th:inline="javascript">
    $(function () {
        var url = [[@{/account/sendcode2}]];
        console.log(url)
        $('#sendcode').click(function () {
            if (!checkSubmitMobil())
                return;

            var phone = $("#phone").val();
            $.ajax(url, {
                method: 'POST',
                data: {
                    phone: phone
                },
                beforeSend: function () {
                    console.log('beforeSend')
                    $('#sendcode').val("发送中...");
                },
                success: function (data, textStatus, jqXHR) {
                    console.log('success')
                    $("#sendcode").prop('disabled', true);
                    startTicker();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error')
                    $('#sendcode').val("发送失败");
                    console.log(arguments);
                }
            });
        });
        var seconds = 60;

        function startTicker() {
            var seconds = 60;
            $('#sendcode').val('重新发送(' + seconds + ')');
            var interval = setInterval(function () {
                seconds--;
                if (seconds >= 0) {
                    $('#sendcode').val('重新发送(' + seconds + ')');
                } else {
                    $('#sendcode').val('重新发送');
                    $("#sendcode").prop('disabled', false);
                    clearInterval(interval);
                    console.log('enable');
                }
            }, 1000);
        }

        function checkSubmitMobil() {
            var phone = $("#phone").val();
            if ($("#phone").val() == "") {
                alert("手机号码不能为空！");
                $("#phone").focus();
                return false;
            }

            if (!$("#phone").val().match(/^1[34578]\d{9}$/)) {
                alert("手机号码格式不正确！");
                $("#phone").focus();
                return false;
            }
            return true;
        }

    });
</script>
</body>
</html>