<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/css :: head"></meta>
</head>
<body>
<div th:replace="fragments/banner :: div"></div>
<div style="color: #9A002F;padding: 100px 40px">
	<h1>Oops. Something went wrong</h1>
	<h2 th:text="${status} + ' ' +  ${error}">${status} ${error}</h2>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>