<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/css :: head"></meta>
</head>
<body class="no-menu">
<div id="login">
    <div class="form-container">
        <div class="info">
            <!--<div class="topRight"></div>-->
            <!--<div class="bottomRight"></div>-->
        </div>
        <div class="form">
            <ul class="nav nav-tabs" role="tablist" style="border-top-right-radius: 5px; border-top-left-radius: 5px;">
                <li role="presentation" class="" th:classappend="${action == 'publicLogin'}? active"><a
                        href="#guestlogin" aria-controls="guestlogin" role="tab" data-toggle="tab"><span></span>游客登录</a>
                </li>
                <li role="presentation" class="userlogin" th:classappend="${action == 'userLogin'}? active"><a
                        href="#userlogin" aria-controls="userlogin" role="tab" data-toggle="tab">用户登录</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="userlogin" th:classappend="${action == 'userLogin'}? active">
                    <form method="POST" th:action="@{/account/userlogin}" th:object="${userLogin}">
                        <input autocomplete="off" class="form-input icon username form-control" required="required" th:field="*{username}"
                               name="username" type="text" placeholder="请输入用户名"/>
                        <p class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                            username Error</p>
                        <input autocomplete="off" class="form-input icon password form-control" required="required" th:field="*{password}"
                               type="password" placeholder="请输入密码"/>
                        <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            password Error</p>

                        <div class="links">
                            <a class="forgetpassword" data-toggle="modal" data-target="#forgetModal">忘记密码</a>
                            <a class="register" data-toggle="modal" data-target="#registerModal">立即注册</a>
                        </div>
                        <input type="submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;录"/>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="guestlogin"
                     th:classappend="${action == 'publicLogin'}? active">
                    <form method="POST" th:action="@{/account/publiclogin}" th:object="${publicLogin}">
                        <input autocomplete="off" th:classappend="${#fields.hasErrors('phone')}? has-error" id="phone"
                               class="form-input icon username form-control" required="required"
                               th:field="*{phone}" name="phone" type="tel" maxlength="11" minlength="11"
                               placeholder="请输入手机号"/>
                        <p class="error-message" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone
                            Error</p>
                        <div class="codediv">
                            <input autocomplete="off" th:classappend="${#fields.hasErrors('code')}? has-error"
                                   class="form-input icon code form-control"
                                   required="required" th:field="*{code}" type="text" placeholder="请输入验证码"/>
                            <input type="button" id="sendcode" value="获取验证码"></input>
                        </div>
                        <div class="links">
                            <a th:href="@{/account/forget}" class="forgetpassword" style="visibility: hidden;">忘记密码</a>
                            <a class="register" data-toggle="modal" data-target="#registerModal">立即注册</a>
                        </div>
                        <p class="error-message" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</p>
                        <input type="submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;录"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/register_modal :: modal"></div>
<div th:replace="fragments/forget_modal :: modal"></div>


<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/js :: script"></div>
<script th:src="@{/js/validator.js}"></script>
<script th:src="@{/js/form-validation.js}"></script>
<script th:inline="javascript">
    $(function () {
        var url = /*[[@{/account/sendcode}]]*/ null;
        $phoneInput = $("#phone");
        $('#sendcode').click(function () {
            if (!checkMobile($phoneInput))
                return;

            var phone = $("#phone").val();
            $.ajax(url, {
                method: 'POST',
                data: {
                    phone: phone
                },
                beforeSend: function () {
                    console.log('beforeSend')
                    $('#sendcode').val("发送中...");
                },
                success: function (data, textStatus, jqXHR) {
                    console.log('success')
                    $("#sendcode").prop('disabled', true);
                    startTicker();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error')
                    $('#sendcode').val("发送失败");
                    console.log(arguments);
                }
            });
        });
        var seconds = 60;

        function startTicker() {
            var seconds = 60;
            $('#sendcode').val('重新发送(' + seconds + ')');
            var interval = setInterval(function () {
                seconds--;
                if (seconds >= 0) {
                    $('#sendcode').val('重新发送(' + seconds + ')');
                } else {
                    $('#sendcode').val('重新发送');
                    $("#sendcode").prop('disabled', false);
                    clearInterval(interval);
                    console.log('enable');
                }
            }, 1000);
        }


    });

    // register js
    $(function () {
        var registerError = /*[[${#fields.hasErrors('${register.*}')}]]*/ null;
        var registerSuccess = [[${registerSuccess}]];
        if(registerError || registerSuccess){
            $('#registerModal').modal('show')
        }

        var url = /*[[@{/account/sendcode2}]]*/ null;
        var $sendCodeButton = $('#sendRegistercode');
        var $phoneInput = $("#registerPhone");
        $sendCodeButton.click(function () {
            if (!checkMobile($phoneInput))
                return;

            var phone = $phoneInput.val();
            $.ajax(url, {
                method: 'POST',
                data: {
                    phone: phone
                },
                beforeSend: function () {
                    console.log('beforeSend')
                    $sendCodeButton.val("发送中...");
                },
                success: function (data, textStatus, jqXHR) {
                    console.log('success')
                    $sendCodeButton.prop('disabled', true);
                    startTicker();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error')
                    $sendCodeButton.val("发送失败");
                    console.log(arguments);
                }
            });
        });
        var seconds = 60;

        function startTicker() {
            var seconds = 60;
            $sendCodeButton.val('重新发送(' + seconds + ')');
            var interval = setInterval(function () {
                seconds--;
                if (seconds >= 0) {
                    $sendCodeButton.val('重新发送(' + seconds + ')');
                } else {
                    $sendCodeButton.val('重新发送');
                    $sendCodeButton.prop('disabled', false);
                    clearInterval(interval);
                }
            }, 1000);
        }

        $('#registerModal').on('hidden.bs.modal', function (e) {
            $('#registerForm')[0].reset();
        })

    });

    //forget js
    $(function () {
        var forgetError = /*[[${#fields.hasErrors('${forget.*}')}]]*/ null;
        var forgetSuccess = [[${forgetSuccess}]];
        if(forgetError || forgetSuccess){
            $('#forgetModal').modal('show')
        }

        var url = /*[[@{/account/sendcode3}]]*/ null;
        var $sendCodeButton = $('#sendForgetCode');
        var $phoneInput = $("#forgetPhone");
        $sendCodeButton.click(function () {
            if (!checkMobile($phoneInput))
                return;

            var phone = $phoneInput.val();
            $.ajax(url, {
                method: 'POST',
                data: {
                    phone: phone
                },
                beforeSend: function () {
                    console.log('beforeSend')
                    $sendCodeButton.val("发送中...");
                },
                success: function (data, textStatus, jqXHR) {
                    console.log('success')
                    $sendCodeButton.prop('disabled', true);
                    startTicker();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error')
                    $sendCodeButton.val("发送失败");
                    console.log(arguments);
                }
            });
        });
        var seconds = 60;

        function startTicker() {
            var seconds = 60;
            $sendCodeButton.val('重新发送(' + seconds + ')');
            var interval = setInterval(function () {
                seconds--;
                if (seconds >= 0) {
                    $sendCodeButton.val('重新发送(' + seconds + ')');
                } else {
                    $sendCodeButton.val('重新发送');
                    $sendCodeButton.prop('disabled', false);
                    clearInterval(interval);
                    console.log('enable');
                }
            }, 1000);
        }

        $('#forgetModal').on('hidden.bs.modal', function (e) {
            $('#forgetForm')[0].reset();
        })

    });

    function checkMobile(input) {
        var phone = input.val();
        if (phone == "") {
            alert("手机号码不能为空！");
            input.focus();
            return false;
        }

        if (!phone.match(/^1[34578]\d{9}$/)) {
            alert("手机号码格式不正确！");
            input.focus();
            return false;
        }
        return true;
    }
</script>
</body>
</html>